<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Blue Dot{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  {% block styles %}{% endblock %}
</head>
<body>
  <header>
    <h1><a href="{% url 'home' %}">Blue Dot</a></h1>
    <nav>

      <!-- Add more feature links here -->
    </nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>&copy; 2025 NASA API Project :: Cyfer</p>
  </footer>

    {% block scripts %}{% endblock %}
    <!-- Google Analytics (in <head>) -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QXH46CNME4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QXH46CNME4');
    </script>

</body>
</html>

