{% extends 'nasa_app/base.html' %}


{% block title %}Home - NASA Explorer{% endblock %}

{% block content %}
  <h2>Welcome to NASA Explorer</h2>
  <p>Start exploring data from NASA APIs!</p>
  <ul>
    <li><a href="{% url 'apod' %}">Astronomy Picture of the Day</a></li>
      <li><a href="{% url 'mars_rover' %}">Mars Rover Photos</a></li>
      <li><a href="{% url 'library' %}">Images and Video Search</a></li>
      <li><a href="{% url 'earth_view' %}">NASA Earth Satellite Imagery</a></li>
    <!-- Add links to other features -->
  </ul>
{% endblock %}
